@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
html {
  box-sizing: border-box;
  font-size: 100%;
  font-family: "Nunito Sans";
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.App .content {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 64em) {
  .App .content {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.App .contentDark {
  background-color: #202c37;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 64em) {
  .App .contentDark {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

.navbar {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-left: 5rem;
  padding-right: 5rem;
  box-shadow: 0 0 10px #ccc;
}

@media (max-width: 63.9375em) {
  .navbar {
    height: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4.375rem;
  }
}

.navbar .title {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 800;
  height: 1.125rem;
}

.navbar .switcher {
  width: 6.5625rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.3125rem;
  cursor: pointer;
}

@media (max-width: 29.1875em) {
  .navbar .switcher {
    justify-content: right;
  }
}

.navbar .switcher .icon {
  font-weight: 600;
}

.navbar .switcher .label {
  font-weight: 600;
}

@media (max-width: 29.1875em) {
  .navbar .switcher .label {
    font-size: 0.875rem;
    margin-left: 0.3125rem;
  }
}

.navbarDark {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1.75rem;
  padding-left: 5rem;
  padding-right: 5rem;
  box-shadow: 0 0 10px #ccc;
  background-color: #2b3945;
}

@media (max-width: 63.9375em) {
  .navbarDark {
    height: 10rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4.375rem;
  }
}

.navbarDark .title {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 800;
  height: 1.125rem;
  color: white;
}

.navbarDark .switcher {
  width: 6.5625rem;
  height: 1rem;
  display: flex;
  justify-content: space-between;
  padding-top: 0.3125rem;
  cursor: pointer;
}

@media (max-width: 29.1875em) {
  .navbarDark .switcher {
    justify-content: right;
  }
}

.navbarDark .switcher .icon {
  font-weight: 600;
  color: white;
}

.navbarDark .switcher .label {
  font-weight: 600;
  color: white;
}

@media (max-width: 29.1875em) {
  .navbarDark .switcher .label {
    font-size: 0.875rem;
    margin-left: 0.1875rem;
  }
}

.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 63.9375em) {
  .action {
    flex-direction: column;
  }
}

.action .search {
  height: 3.5rem;
  width: 30rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
  padding: 1.125rem 2.0625rem;
}

@media (max-width: 63.9375em) {
  .action .search {
    width: 100%;
    margin-bottom: 3.125rem;
  }
}

.action .search__icon {
  margin-right: 1.5rem;
  color: #858585;
  scale: 1.5;
}

.action .search__input {
  width: 100%;
  outline: none;
  border: none;
}

.action .search__input::placeholder {
  font-size: 0.9375rem;
}

.action .filter__show {
  height: 3.5rem;
  width: 12.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5625rem;
  box-shadow: 0 0 3px #ccc;
  border-radius: 5px;
}

.action .filter__show .icon {
  scale: 1.5;
  cursor: pointer;
}

.action .filter .option {
  display: none;
}

.action .filter .option__Show {
  position: absolute;
  top: 11.875rem;
  width: 12.625rem;
  height: 11.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.375rem 1.875rem;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  border-radius: 5px;
  z-index: 1;
}

@media (max-width: 63.9375em) {
  .action .filter .option__Show {
    top: 23.4375rem;
  }
}

.actionDark {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (max-width: 63.9375em) {
  .actionDark {
    flex-direction: column;
  }
}

.actionDark .search {
  height: 3.5rem;
  width: 30rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 1.125rem 2.0625rem;
  background-color: #2b3945;
}

@media (max-width: 63.9375em) {
  .actionDark .search {
    width: 100%;
    margin-bottom: 3.125rem;
  }
}

.actionDark .search__icon {
  margin-right: 1.5rem;
  color: white;
  scale: 1.5;
}

.actionDark .search__input {
  width: 100%;
  outline: none;
  border: none;
  background-color: #2b3945;
  color: white;
  font-size: 0.9375rem;
}

.actionDark .search__input::placeholder {
  font-size: 0.9375rem;
  color: white;
}

.actionDark .filter__show {
  height: 3.5rem;
  width: 12.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5625rem;
  border-radius: 5px;
  background-color: #2b3945;
  color: white;
  font-weight: 600;
}

.actionDark .filter__show .icon {
  scale: 1.5;
  cursor: pointer;
}

.actionDark .filter .option {
  display: none;
}

.actionDark .filter .option__Show {
  position: absolute;
  top: 11.875rem;
  width: 12.625rem;
  height: 11.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.375rem 1.875rem;
  border-radius: 5px;
  background-color: #2b3945;
  z-index: 1;
}

@media (max-width: 63.9375em) {
  .actionDark .filter .option__Show {
    top: 23.4375rem;
  }
}

.actionDark .filter .option__Show a {
  color: white;
  font-weight: 600;
}

.countries {
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4.625rem;
}

@media (max-width: 87.4375em) {
  .countries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 63.9375em) {
  .countries {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 29.1875em) {
  .countries {
    grid-template-columns: 1fr;
  }
}

.countries .country {
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc;
}

.countries .country .flag {
  width: 100%;
  height: 11.25rem;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.countries .country .flag img {
  width: 100%;
  height: 100%;
}

.countries .country .subdetails {
  margin: 1.6875rem 1.5625rem 2rem 1.5625rem;
}

.countries .country .subdetails .name {
  font-size: 1.125rem;
  margin-bottom: 1.6875rem;
}

.countries .country .subdetails .popu,
.countries .country .subdetails .region,
.countries .country .subdetails .capital {
  margin-bottom: 0.75rem;
  font-weight: 600;
}

.countries .country .subdetails .popu span,
.countries .country .subdetails .region span,
.countries .country .subdetails .capital span {
  font-weight: 300;
}

.countries .countryDark {
  width: auto;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: #2b3945;
}

.countries .countryDark .flag {
  width: 100%;
  height: 11.25rem;
  background-size: cover;
  border-radius: 5px 5px 0 0;
}

.countries .countryDark .flag img {
  width: 100%;
  height: 100%;
}

.countries .countryDark .subdetails {
  margin: 1.6875rem 1.5625rem 2rem 1.5625rem;
}

.countries .countryDark .subdetails .name {
  font-size: 1.125rem;
  margin-bottom: 1.6875rem;
  color: white;
}

.countries .countryDark .subdetails .popu,
.countries .countryDark .subdetails .region,
.countries .countryDark .subdetails .capital {
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: white;
}

.countries .countryDark .subdetails .popu span,
.countries .countryDark .subdetails .region span,
.countries .countryDark .subdetails .capital span {
  font-weight: 300;
  color: white;
}
/*# sourceMappingURL=index.css.map */