// ``     `

// color
$db: hsl(209, 23%, 22%);
$vdb: hsl(207, 26%, 17%);
$vdbt: hsl(200, 15%, 8%);
$dg: hsl(0, 0%, 52%);
$vlg: hsl(0, 0%, 98%);
$w: hsl(0, 0%, 100%);

// Typography
$hp: rem(14);
$dp: rem(16);

// Text Weight
$l: 300;
$m: 600;
$h: 800;

// Convert pixel to rem
@function rem($pixel, $context: 16) {
  @return ($pixel/$context) * 1rem;
}

// Convert pixel to em
@function em($pixel, $context: 16) {
  @return ($pixel/$context) * 1em;
}
